main {
    margin: 30px auto;
    padding: 10px 20px;
    display: block;
    max-width: 1024px;
    font: normal 18px "Helvetica Neue", sans-serif;
}

.my-photo {
    margin-right: 50px;
    float: left;
    width: 200px;
    height: 250px;
}

.contacts {
    display: inline-block;
    width: 300px;
    height: 120px;
}

.js-code {
    margin-left: 40px;
}

.react {
    display: block;
    max-height: 800px;
    color: whitesmoke;
    background-color: #2c2c2c;
    border-radius: 5px;
    overflow: auto;
}
